.App{
    padding-top: 4em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    /*background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 1.05px, transparent 1.05px), radial-gradient(#444cf7 1.05px, #e5e5f7 1.05px);
    background-size: 42px 42px;
    background-position: 0 0,21px 21px;*/

}