body {
    height: 100%;
}

.search-home{
    width:80%;
    border: 1px solid rgb(115, 117, 117);
    border-radius: 5px;
    padding: 40px 0 40px 0;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    background-color: #f86f13;
}

.page-title{
    margin-bottom: 20px;
}

.home-text{
    color: white;
}

.container-consigliati{
    margin-bottom: 7em;
}

.container-consigliati{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1024px) {
    .search-home{
        width:100%;
    }
}