.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #00828c;
    color: white;
    padding: 10px 10px;
}

.nav-links{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
    width:8em;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-links a:hover {
    color: rgb(243, 189, 189);
}

.mobile-menu-btn{
    color: white;
    border: none;
    background: transparent;
    margin-right: 5px;
    display: none;
}
.logo img{
    width: 6em;
    height: auto;
    margin-right: 5px;
    @media only screen and (max-width: 769px) {
            width: auto;
    }
}

@media only screen and (max-width: 769px) {
    .mobile-menu-btn {
    display: block;
  }
}