.nav-links{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
    width:8em;
    text-decoration: none;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-item a:hover {
    color: rgb(243, 189, 189);
}

.mobile-menu-btn{
    color: white;
    border: none;
    background: transparent;
    margin-right: 5px;
    display: none;
}
.logo img{
    width: 6em;
    height: auto;
    margin-right: 5px;
    @media only screen and (max-width: 769px) {
            width: auto;
    }
}

@media only screen and (max-width: 769px) {
    .mobile-menu-btn {
    display: block;
  }
}

.navbar {
    position: fixed !important;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 10px !important;
    background-color: #00828c;
    justify-content: space-between !important;
    height: 80px;
}
.navbar .nav-link {
    color: white;
    font-size: small;
}
.navbar-nav .nav-item{
    padding: 0 10px 0 10px;
}   
.navbar .navbar-collapse{
    flex-grow: inherit;
} 
.navbar-brand img{
    width: 100%;
    max-width: 5em;
}
button:focus {
    box-shadow: none !important;
  }