.card-favs{
    height: 30em;
    width:20em;
    display: block;
    color: black;
    box-shadow: 0 .5rem 1rem gray !important;
    text-decoration: none;
    position: relative;
}
.card-favs:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.card-btn{
    position: relative;
    margin: 25px auto 25px auto;
}

.indirizzo-card{
    font-size: smaller;
    height: 40px;
    overflow: hidden;
   /* overflow-y: scroll;*/
}

.card-img-top {
    height: 14em;
}

.indirizzo-card::-webkit-scrollbar{
    display: none;
}
.icon-red {
    color: red;
}
.card-icon {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    color: white;
}
.fav-icon:hover{
    cursor: pointer;
    color: red;
}
.fav-icon.icon-red:hover{
    cursor: pointer;
    color: white;
}