
.search-icon {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
}

#clearBtn {
    cursor: pointer;
}

.data-result{
    background-color: white;
    width: 55%;
    height: fit-content;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    padding: 5px;
    position: absolute;
    top: 3em;
    border-radius: 8px;
}

.data-result::-webkit-scrollbar{
    width: 5px;
}

.data-result::-webkit-scrollbar-thumb {
    background-color: #004649;
    border-radius: 20px;
}   

.data-item{
    color: black !important;
    width: 100%;
    line-height: 35px;
    padding-left: 5px;
}

.data-item:hover{
    background-color: #00838c41;
}
.search-container{
    width:60%;
}

/*.navbar .search-bar, .navbar .data-result {
    width: 30em;
  }*/
/*@media only screen and (max-width: 720px) {
    .navbar .search-bar, .navbar .data-result {
        width: 10em;
  }
}*/