.user-card{
    max-width: 50em;
    position: relative;
    margin: 5em auto 0 auto;
}
.user-card-left{
    background-color: #0e5157;
    width: 30%;
    height: 20em;
    padding: 30px;
}

.user-card-info{
    width: 70%;
}

.user-card-in{
    margin: 15px 30px 30px 30px;
}

.user-card-in-left img{
    width:10em;
    height: 10em;
}

.user-card-in-left h6{
    color: whitesmoke;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px ;
}

.edit-user-info{
    border:none;
    font-weight: 500;
    color: gray;
}

.edit-user-info:focus{
    outline:none;
}
